/* VARIABLES */
:root {
  --light-gray: #AFBFC0;
  --mid-gray: #707070;
  --dark: #293241;
  --dark-rgb: 41, 50, 65;
  --accent: #EE6C4D;
  --accent-rgb:238, 108, 77;
 
}

html{
  min-height:100vh;
}
body {
    margin: 0;
    color:var(--mid-gray);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    min-height: 100vh;
    position: relative;
  }

  a:hover{
    text-decoration: none;
  }

  h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }
  

.container-fluid{
      padding:0;

  }

  header {
    background: url("/img/lake-edit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    color:#ffffff;
  }

  header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  main {
    background-color: #ffffff;
    padding-bottom: 450px!important;
  }

  footer {
    background-color: var(--dark);
    height: 450px;
    width: 100%;
    position:absolute;
    bottom: 0;
  }

  footer h4{
    padding-top:50px;
    color:#ffffff;

  }

  .item{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    border-radius: 1rem;
    height: 185px;
    overflow: hidden;
    position: relative;
}

.item-content{
  background: radial-gradient( rgba(var(--dark-rgb), .5), rgba(var(--dark-rgb), .75));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
  transition: all .2s ease-in-out;
}

.item-content:hover{
  background: radial-gradient( rgba(var(--accent-rgb), .75), rgba(var(--accent-rgb), 1));
  transform: scale(1.1); 
}

.contact-form{
  color:#fff;
}

.main-btn{
  background-color: rgba(var(--accent-rgb), 0.75);
  color:#fff;
  border:none;

}

.main-btn:hover{
  background-color: var(--accent);;
  color:#ffffff;
}

  #my-info{
      background-color: #ffffff;
      border-radius: 1rem;
      border: 1px solid var(--light-gray);
      padding:2rem;
      margin:-240px 15px 25px;
  }
  #profile-img img{
    max-height: 125px;
    margin: 2rem 0 1.5rem;
  }

  #item-img{
    background-color: #ffffff;
    border: 1px solid var(--light-gray);
    border-radius:1rem;
    padding:1rem;
    margin:-50px 15px 25px;
  }

  #item-info{
    padding: 1rem;

  }

  #home-btn{
    position: absolute;
    top:2rem;
    left:2rem;
  }

  #create-btn{
    position: absolute;
    top:2rem;
    right: 2rem;
  }